{% extends 'testapp/base.html' %}
{% load static %}
{% block manas %}
<h1 class="display-4"> About Us</h1>
<h3>MANAS MANI VISHWAKARMA</h3>
<div class="sidebar">
    <h2>Welcome to my library!!!</h2><hr>
    
    <h3></h3>
<p>“Hey, I’m Manas but people here call me Mani. I'm from Jabalur in Madhya Pradesh, and lived there most of my life before moving to the India. I speak Hindi, Telugu and English. I love gaming, and I stream on Twitch almost every day. I’ve always wanted to improve my English so now that I have the time, I’ve finally signed up for classes online.”.</p>
</div>

<div class="sidebar2">
<h2>Hello welcome </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum amet nostrum est? Accusamus numquam sapiente esse reprehenderit, aliquam modi inventore nisi. Reprehenderit placeat omnis reiciendis aspernatur velit error cumque.</p>

</div>
{% endblock manas %}