{% extends 'A1/base.html' %}
{% block manas %}
<h1>Edit Employee details</h1><hr>
<form method="post">
    {%csrf_token%}
    Employee Number: <input type="text" name="eno" value="{{emll.eno}}">
    Employee Name: <input type="text" name="ename" value="{{emll.ename}}">
    Employee Email: <input type="text" name="email" value="{{emll.email}}">
    Employee Sallary: <input type="text" name="esal" value="{{emll.esal}}">
    Employee Address: <input type="text" name="eadd" value="{{emll.eadd}}">
    <input type="submit" value="Submit">
</form>

{% endblock manas %}